.wrapper{
	
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(40px, auto);
	height: 100vh;
	grid-gap: .3rem;
	grid-template-areas: 
		"nav"
		"content"
		"jobs"
		"footer"
	;

}

.nav{
	background-color: #38C6AFFF;
	grid-area: nav;

		h2{
			font-size: 5vmax;
		}
}

.content{
	background-color: gold;
	grid-area: content;
}

.jobs{
	background-color: #38C6AFFF;
	grid-area: jobs;
}

.footer{
	background-color: silver;
	grid-area: footer;
}




